<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset css -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <!-- main styles -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <title>CS Tracker</title>
</head>
<body>
<!-- navigation system -->
    <nav>
        <img src="../img/logo.svg" alt="CS tracker logo" id="logo">
        <h2 id="app-title">CS Tracker</h2>
        <img src="../img/hamburger-menu.svg" alt="Menu" id="menu-icon">
    </nav>
    
<!-- main content -->
    <div id="wrapper">

      <!-- student hours log -->
      <h3 id="table-title">Unconfirmed Student Hours</h3>
      <!-- Search -->
      <form action="">
          <input type="text" class="search-box" name="search" placeholder="Search"><img class="search-icon" src="../img/search-icon.svg" alt="search icon">
      </form> 
      <div class="table-bkg">
          <table>
            <tr> 
              <th>Date</th>
              <th>Name</th>
              <th>Location</th>
              <th>Contact</th>
              <th>Unconfirmed</th>
            </tr>
            <% for (let index = 0; index < unconfirmed_hours.length; index++) { %>
              <% const record = unconfirmed_hours[index];  %>
              <tr>                
                  <td> <%= record.date %> </td>
                  <td> <a href="/single-student/<%= record.UserId %>"><%= record.name %></a> </td>
                  <td> <%= record.location %> </td>       
                  <td> <%= record.contact %> </td> 
                  <td> <%= record.total_hours %> </td>                             
              </tr>      

            <% } %>       
           
          </table>
      </div>

      <!-- community centers -->
      <h3 id="table-title2">Community Centers</h3>
      
          <!-- Search -->
      <form action="">
          <input class="search-box" type="text" name="search" placeholder="Search"><img class="search-icon" src="../img/search-icon.svg" alt="search icon">
      </form> 
      <div class="table-bkg">
          <table>
            <tr>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Location</th>
            </tr>
            <tr>
              <td>Nekoma Inc.</td>
              <td>786-123-9853</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Sunnyside Daycare</td>
              <td>305-826-9505</td>
              <td>25</td>
            </tr>
            <tr>
              <td>JJ's Daycare</td>
              <td>772-854-4647</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Suave Greenhouse</td>
              <td>786-245-9813</td>
              <td>45</td>
            </tr>
            <tr>
              <td>Teavana</td>
              <td>305-543-6824</td>
              <td>48</td>
            </tr>
            <tr>
              <td>Kim's Bakehouse</td>
              <td>722-183-2684</td>
              <td>68</td>
            </tr>
            <tr>
              <td>Subaru Dealers</td>
              <td>722-216-2954</td>
              <td>100</td>
            </tr>
          </table>
      </div>
    </div>


<!-- footer -->
  <footer>
      <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="contact-us.html">contact</a></li>
          <li><a href="">social</a></li>
      </ul>
      <p>&copy; 2021 CS Tracker</p>
  </footer>
</body>
</html>
