<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset css -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <!-- main styles -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- tablet styles -->
    <link rel="stylesheet" href="../css/responsive.css">

    <title>CS Tracker</title>
</head>
<body>
    <!-- navigation system -->
    <nav>
        <img src="../img/logo.svg" alt="CS tracker logo" id="logo">
        <h2 id="app-title">CS Tracker</h2>
        <a href="/logout" id="register-button">Logout</a>
        <!-- <img src="../img/hamburger-menu.svg" alt="Menu" id="menu-icon"> -->
    </nav>
    <% var missing_hours = user.total_hours - user.done_hours %>
    <div id="wrapper">
      <!-- profile -->
      <div id="section">
        <img id="profile-pic" src="../public/img/default-pfp.png" alt="profile picture">
        <h3><%= user.name.toUpperCase() %></h3>
      </div>

      <!-- student info -->
      <div id="bkg">

        <div id="hours-title">
          <h4 class="text1">Hours done:</h4>
          <h4 class="text1">Hours Missing:</h4>
          <h4 class="text1">Hours Unconfirmed:</h4>
        </div>
        
        <div id="hours">
          <h4 class="hours"><%= user.done_hours %></h4>
          <h4 class="hours"><%= missing_hours %></h4>
          <h4 class="hours"><%= unconfirmed_hours %></h4>        
        </div>  
        <a href="/log-hours">
          <button id="add-hours"><img src="../img/plus-icon.svg" alt="plus icon"> <span>Add Hours</span></button>
        </a>
      </div>
      
      <!-- history log -->
      <div id="table-bg">
          <table>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Hours</th>
            </tr>
            
            <% for (let index = 0; index < confirmed_hours.length; index++) { %>
              <% const record = confirmed_hours[index];  %>
              <tr>
                <td> <%= record.date %> </td>
                <td> <%= record.name %> </td>
                <td> <%= record.total_hours %> </td>       
              </tr>              
            <% } %> 

         
          </table>
      </div>
    </div>
</body>
</html>
