<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset css -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- font styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <!-- main styles -->
    <link rel="stylesheet" href="../css/main.css">
    
    <!-- tablet styles -->
    <link rel="stylesheet" href="../css/responsive.css">

    <title>CS Tracker</title>
</head>
<body>
  <!-- navigation system -->
  <nav>
    <a href="/admin-dash" >
      <img src="../img/logo.svg" alt="CS tracker logo" id="logo">
    </a>
    <a href="/admin-dash" >
      <h2 id="app-title">CS Tracker</h2>
    </a>
      <img src="../img/hamburger-menu.svg" alt="Menu" id="menu-icon">
  </nav>
  
  <% var missing_hours = student.total_hours - student.done_hours %>


    <!-- profile -->
    <div id="section">
      <img id="profile-pic" src="../img/profile-img.svg" alt="profile picture">
      <h3><%= student.name %></h3>
    </div>

    <!-- student info -->
    <div   id="bkg" id="bkg2">

      <div id="hours-title">
        <h4 class="text1">Hours done:</h4>
        <h4 class="text1">Hours Missing:</h4>
        <h4 class="text1">Hours Unconfirmed:</h4>
      </div>
      <div id="hours">
        <h4 class="hours"><%= student.done_hours %></h4>
        <h4 class="hours"><%= missing_hours %></h4>
        <h4 class="hours"><%= unconfirmed_hours %></h4>   
      </div>
    </div>

    <!-- unconfirmed hours -->
    <h3 id="ss-title"> Unconfirmed Hours</h3>
    <form action="/approved-hours" method="POST">
      <div class="table-bkg">
          <table id="ss-table">
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Hours</th>
              <th>Contact</th>
              <th>Confirmed</th>
            </tr>

            <% for (let index = 0; index < unconfirmed_records.length; index++) { %>
                <% const record = unconfirmed_records[index];  %>
                <tr>
                  <td> <%= record.date %> </td>
                  <td> <%= record.location %> </td>
                  <td> <%= record.total_hours %> </td>       
                  <td> <%= record.contact %> </td>  
                  <td> 
                    <input type="checkbox" name="<%= record.id %>">
                    <label for="confirmed"> </label>
                  </td>                     
                </tr>              
              <% } %> 

      
            
          </table>
        </div>
        <button type="submit" id="save-button" class="form-button">Save</button>
    </form>

</body>
</html>
